<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Tejas_Grid::home" title="Customer Feedback" module="Tejas_Grid" sortOrder="1000" parent="Tejas_Mymodule::custom_menu" resource="Tejas_Mymodule::custom_menu" action="tejas_grid/index/index" />
  </menu>
</config>